PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>/<database>?retryWrites=true&w=majority
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=your_email@example.com
MAIL_PASS=your_app_password
MAIL_FROM_NAME=Plashcard
OTP_EXPIRES_MINUTES=5

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CLOUDINARY_ROOT_FOLDER=flashcard
CLOUDINARY_USERS_FOLDER=users
CLOUDINARY_BACKGROUNDS_FOLDER=backgrounds
